
.badge-container {
  position: relative;
  display: inline-block;
}

.custom-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #ce0c19;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 4px 6px;
  border-radius: 999px;
  min-width: 20px;
  text-align: center;
  box-shadow: 0 0 0 2px #fff;
  transition: all 0.3s ease-in-out;
}
