<p-dialog 
	header="Audit details" 
	[modal]="true"
	[(visible)]="visible" 
	[style]="{ width: '50rem' }" 
	(onHide)="handleHide()"
	[breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
	
	<ul class="p-0 mx-0 mt-0 mb-4 list-none">	
		<li class="flex align-items-center py-2 surface-border">
			<div class="w-3rem h-3rem flex align-items-center justify-content-center bg-gray-100 border-circle mr-3 flex-shrink-0">
				<i class="pi pi-users text-xl text-gray-500"></i>
			</div>
			<span class="text-900 line-height-3"><span class="modal-row-title">Auditors :</span></span>
			<p-avatarGroup>
				<p-avatar *ngFor="let a of selectedAudit?.auditors" 
					[image]="imagesUrl+'/'+ a.image" 
					size="large" 
					[pTooltip]="a.firstName + ' ' + a.lastName"
					tooltipPosition="bottom"
					shape="circle" />
			</p-avatarGroup>
		</li>

		
		<li class="flex align-items-center py-2 surface-border">
			<div class="w-3rem h-3rem flex align-items-center justify-content-center bg-gray-100 border-circle mr-3 flex-shrink-0">
				<i class="pi pi-star text-xl text-gray-500"></i>
			</div>
			<span class="text-900 line-height-3"><span class="modal-row-title">Audit Leader :</span></span>
			<p-avatar *ngIf="selectedAudit?.auditleaders" 
				[image]="imagesUrl + '/' + selectedAudit.auditleaders.image" 
				size="large" 
				[pTooltip]="selectedAudit.auditleaders.firstName + ' ' + selectedAudit.auditleaders.lastName"
				tooltipPosition="bottom"
				shape="circle">
			</p-avatar>
		</li>

		<!-- Organisation -->
		<div class="my-4">
			<span class="modal-row-title">Organisation:</span>
		</div>
		<li class="flex align-items-center py-2 border-bottom-1 surface-border">
			<div class="w-3rem h-3rem flex align-items-center justify-content-center bg-gray-100 border-circle mr-3 flex-shrink-0">
				<i class="pi pi-building text-xl text-gray-500"></i>
			</div>
			<span class="text-900 line-height-3"><span class="modal-row-title">Organisation :</span> {{ selectedAudit?.organisationName }}</span>
		</li>

		<li class="flex align-items-center py-2 border-bottom-1 surface-border">
			<div class="w-3rem h-3rem flex align-items-center justify-content-center bg-gray-100 border-circle mr-3 flex-shrink-0">
				<i class="pi pi-phone text-xl text-gray-500"></i>
			</div>
			<span class="text-900 line-height-3"><span class="modal-row-title">Phone number :</span> {{ selectedAudit?.phoneNumber }}</span>
		</li>

		<li class="flex align-items-center py-2 border-bottom-1 surface-border">
			<div class="w-3rem h-3rem flex align-items-center justify-content-center bg-gray-100 border-circle mr-3 flex-shrink-0">
				<i class="pi pi-globe text-xl text-gray-500"></i>
			</div>
			<span class="text-900 line-height-3"><span class="modal-row-title">Website :</span> {{ selectedAudit?.website }}</span>
		</li>

		<li class="flex align-items-center py-2 border-bottom-1 surface-border">
			<div class="w-3rem h-3rem flex align-items-center justify-content-center bg-gray-100 border-circle mr-3 flex-shrink-0">
				<i class="pi pi-users text-xl text-gray-500"></i>
			</div>
			<span class="text-900 line-height-3"><span class="modal-row-title">Employees number :</span> {{ selectedAudit?.employeesNumber }}</span>
		</li>

		<li class="flex align-items-center py-2 surface-border">
			<div class="w-3rem h-3rem flex align-items-center justify-content-center bg-gray-100 border-circle mr-3 flex-shrink-0">
				<i class="pi pi-users text-xl text-gray-500"></i>
			</div>
			<span class="text-900 line-height-3"><span class="modal-row-title">Employees in perimeter :</span> {{ selectedAudit?.employeesInPerimeter }}</span>
		</li>

		<!-- Contact Infos -->
		<div class="my-4">
			<span class="modal-row-title">Contact infos:</span>
		</div>
		<li class="flex align-items-center py-2 border-bottom-1 surface-border">
			<div class="w-3rem h-3rem flex align-items-center justify-content-center bg-gray-100 border-circle mr-3 flex-shrink-0">
				<i class="pi pi-user text-xl text-gray-500"></i>
			</div>
			<span class="text-900 line-height-3"><span class="modal-row-title">Contact Name :</span> {{ selectedAudit?.contactName }}</span>
		</li>

		<li class="flex align-items-center py-2 border-bottom-1 surface-border">
			<div class="w-3rem h-3rem flex align-items-center justify-content-center bg-gray-100 border-circle mr-3 flex-shrink-0">
				<i class="pi pi-phone text-xl text-gray-500"></i>
			</div>
			<span class="text-900 line-height-3"><span class="modal-row-title">Contact number :</span> {{ selectedAudit?.contactNumber }}</span>
		</li>		

		<li class="flex align-items-center py-2 surface-border">
			<div class="w-3rem h-3rem flex align-items-center justify-content-center bg-gray-100 border-circle mr-3 flex-shrink-0">
				<i class="pi pi-envelope text-xl text-gray-500"></i>
			</div>
			<span class="text-900 line-height-3"><span class="modal-row-title">Contact Email :</span> {{ selectedAudit?.contactEmail }}</span>
		</li>

	</ul>
</p-dialog>
